[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
Comment=Browse the Web
Exec=/usr/local/bin/firefox-workspace %u
Icon=firefox
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
StartupWMClass=firefox
