[Desktop Entry]
Version=1.0
Type=Application
Name=Google Chrome
Comment=Access the Internet
Exec=/usr/local/bin/google-chrome-workspace %U
Icon=google-chrome
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
